<robot name="table">
  <link name="table_body">
    <visual>
      <geometry>
        <box size="4 2 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="whitish">
        <color rgba="0.75 0.6 0.42 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="4 2 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
  </link>
</robot>